coverage.json
.env
cache
build
yarn.lock
node_modules
coverage.json
coverage
.coverage_*
.openzeppelin
artifacts/
docs/interfaces
docs/mocks
.vscode/launch.json
deployments
upgrade_parameters.json
docker/gethData/
*.ignore/
typechain-types/

docker/deploymentOutput
docker/rsk/
config/wallets.json
deployment/v2/create_rollup_parameters.json
deployment/v2/deploy_parameters.json
*.keystore
debug.ts